<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data</title>
    <style>
        table {
            border-collapse: collapse;
            color: #000000;
            border: 1px solid #000000;
            font-family: monospace;
            text-align: left;
        }
        th, td {
            border: 1px solid #000000;
            border-collapse: collapse;
        }
        div{
            margin: 0 auto;
            width: 50%;
        }

        form {
            width: 100%;
        }
    </style>
</head>
<body>
    <div>
        <h1>Student Data</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result['Name'] }}</td>
                    <td>{{ result['Email'] }}</td>
                    <td>{{ result['ID'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
    </div>

    <form action="/add" method="get">
        <label for="addName">Name:</label>
        <input type="text" id="addName" name="name" required>
        
        <label for="addEmail">Email:</label>
        <input type="email" id="addEmail" name="email" required>
    
        <button type="submit">Add Student</button>
      </form>
      <br>
      <form action="/update" method="get">
        <label for="updateID">Student ID:</label>
        <input type="text" id="updateID" name="id" required>
        
        <label for="updateName">New Name:</label>
        <input type="text" id="updateName" name="name" required>
    
        <label for="updateEmail">New Email:</label>
        <input type="email" id="updateEmail" name="email" required>
    
        <button type="submit">Update Student</button>
      </form>
    
    <br>
      <!-- Form for deleting a student -->
      <form action="/delete" method="get">
        <label for="deleteID">Student ID:</label>
        <input type="text" id="deleteID" name="id" required>
        
        <button type="submit">Delete Student</button>
      </form>
</body>
</html>
